@page "/A1"
@layout MainLayoutWnavbar

<div class="min-h-screen bg-gray-200 flex flex-wrap justify-center w-full">

    <div class="w-3/4 p-2 border-r border-black border-solid">
        <div class="h-1/6 p-4">
            <h1 class="font-black text-3xl">Funk Pop! - Super Rare</h1>
            <h2>Vinyl Figure</h2>
            <p><b>Initial price:</b>20000€</p>
            <p><b>Condition:</b>Very Good</p>
        </div>
        <div class="h-5/6 p-2 flex">
            <div class="w-1/3">
                <div class="h-1/2 p-2">
                    <div class="h-100 bg-blue-500">
                        Meter uma imagem aqui e se calhar tirar a div :P
                    </div>
                </div>
                <div class="h-1/2 py-2 flex align-items-end justify-content">
                    <div class="w-1/3"><BlazorApp1.Pages.icons.UserIcon /></div>
                    <div class="w-2/3">
                        <p>Ze_Manel2000</p>
                        <p>5 stars</p>
                        <p>zemanel@mail.com</p>
                     </div>
                </div>
            </div>
            <div class="w-2/3">
                <div class="h-5/6 overflow-hidden">
                    <div class="border-b border-black border-solid">
                        <h2 class="font-black text-xl"><b>Description</b></h2>
                    </div>
                    <div class="pt-4">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="h-1/6 flex align-items-center justify-center text-l text-white">
                    <button class="px-4 py-2 bg-red-600 rounded-l-lg border-r border-red-700">Edit</button>
                    <button class="px-4 py-2 bg-red-600">Stop</button>
                    <button class="px-4 py-2 bg-red-600 rounded-r-lg border-l border-red-700">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="w-1/4 p-2">
        <div class="border-b border-black border-solid">
            <h2 class="font-black text-2xl"><b>Ending in: 22:33:44</b></h2>
        </div>
        <div class="py-4">
            A1
        </div>
    </div>

</div>

