@page "/profile"
@layout MainLayoutWnavbar


<div class="min-h-screen bg-gray-200 w-full flex-col">


    <div class="gap-2 flex justify-start">

        <div class="my-8 ml-16 mr-8 w-1/12">
            <img class="my-8 w-11/12" src="/assets/images/user3.svg">

            <button type="submit" class="bg-red-500 rounded-2xl shadow py-2 px-12 text-white text-center text-lg font-bold justify-items-end items-center hover:bg-red-400">
                Edit
            </button>
        </div>

        <!--trocar para ir buscar info-->
        <div class="my-10 justify-start">
            <p class="mt-8 text-5xl font-extralight">nome</p>
            <p class="text-2xl font-extralight">avaliacao</p>
            <p class="text-2xl font-thin">username</p>
        </div>

    </div>

    <div class="mx-5">
        <h2 class="font-bold text-2xl">Live Auctions</h2>
        <hr class="my-1 h-0-5 bg-black opacity-100 dark:opacity-50" />

        <!--adicionar formato leiloes-->
    </div>


    <div class="mx-5">
        <h2 class="font-bold text-2xl">Reviews</h2>
        <hr class="my-1 h-0-5 bg-black opacity-100 dark:opacity-50" />
        <!--adicionar formato avaliacoes-->

    </div>


</div>


@code {

}
