@page "/rating"
@layout MainLayoutWnavbar

<div class="min-h-screen fixed w-full bg-gray-200 flex justify-center">
    <div class="mt-16 bg-white h-[400px] w-[400px]">

        <form>
            <h1 class="pt-10 pb-1 text-center font-black text-3xl">Rating Seller:</h1>
            <!--ir buscar o nome do gajo-->
            <p class="text-center text-gray-800 font-semibold text-2xl">nome do gajo</p>

            <!--isto em blazor vai mudar para inputradiogroup e input radiovalue.. para ja vai ficar assim-->
            <p class="text-gray-800 font-semibold text-lg ml-5 mt-3">Rating:</p>
            <div class="flex justify-center mb-4">
                <div class="flex items-center me-4">
                    <input id="1estrela" type="radio" value="1" name="aval" class="w-5 h-5 text-black-600 bg-gray-100 border-gray-600" required>
                    <label for="1estrela" class="ms-2 text-lg font-medium">1</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="2estrela" type="radio" value="2" name="aval" class="w-5 h-5 text-black-600 bg-gray-100 border-gray-600">
                    <label for="2estrela" class="ms-2 text-lg font-medium">2</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="3estrela" type="radio" value="3" name="aval" class="w-5 h-5 text-black-600 bg-gray-100 border-gray-600">
                    <label for="3estrela" class="ms-2 text-lg font-medium">3</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="4estrela" type="radio" value="4" name="aval" class="w-5 h-5 text-black-600 bg-gray-100 border-gray-600">
                    <label for="4estrela" class="ms-2 text-lg font-medium">4</label>
                </div>
                <div class="flex items-center me-4">
                    <input id="5estrela" type="radio" value="5" name="aval" class="w-5 h-5 text-black-600 bg-gray-100 border-gray-600">
                    <label for="5estrela" class="ms-2 text-lg font-medium">5</label>
                </div>
            </div>


            <!--comentário-->
            <textarea id="comment" rows="3" placeholder="Write a comment... (optional)"
                      class="block p-3 w-11/12 h-full mx-3 my-2 text-medium text-zinc-800 bg-white rounded-2xl border-1 border-gray-600 dark:bg-gray-700 dark:border-black dark:placeholder-gray-500 dark:text-black">
            </textarea>


            <div class="flex justify-end mr-4 mt-3">
                <button type="submit" class="px-10 py-2 bg-red-500 rounded-3xl shadow text-white text-center text-lg font-semibold justify-items-end items-center inline-flex hover:bg-red-400">Done</button>
            </div>


        </form>
    </div>
</div>
@code {

}
