@page "/search"
@layout MainLayoutWnavbar

<div class="min-h-screen bg-gray-200 flex justify-center">

    <div class="space-y-10 m-9">
        <div class="bg-white h-[250px] w-[1050px]  relative bg-white rounded-[30px] shadow border">
        
            <img class="my-1 ml-[-25px] w-17 h-56" src="assets/images/BELO.png" />
            <p class="text-4xl left-[190px] top-[27px] absolute text-center font-bold font">Funko Pop! - Super Rare</p>
            <p class="text-3xl left-[192px] top-[195px] absolute text-center text-[32px] font-extralight text-gray-500">Ze_Manel2004</p>
            <div class="text-3xl w-[344px] left-[710px] top-[27px] absolute text-center text-black text-[32px] font-bold  ">Initial price: 20000€</div>
            <p class="text-4xl left-[190px] top-[73px] absolute text-center font-thin ">Vinyl Figure</p>
            <div class="text-3xl w-[323px] left-[728px] top-[185px] absolute text-center text-black text-[32px] font-bold">Ending in: 2:28:15</div>
            <p class="text-3xl w-72 left-[757px] top-[73px] absolute text-center text-black text-[32px] font-bold">Last Bid: 25000€</p>
            <p class="text-4xl left-[190px] top-[135px] absolute text-center font-bold ">Condition: <span class="font-medium">Very Good</span> </p>

        
        </div>
      
        <div class="bg-white h-[250px] w-[1050px]">
        </div>
        <div class="bg-white h-[250px] w-[1050px]">
        </div>
        <div class="bg-white h-[250px] w-[1050px]">
        </div>
        
    </div>
</div>

@code {

}
