<div class="flex w-full bg-[#C9302A] justify-between">
    <div class="flex">
        <img class="p-0 ml-1 w-15 h-16 my-2" src="assets/images/logo.png" />
        <input @bind="@searchTerm" placeholder="Search product" type="text" class="py-1 ml-5 px-2 my-3 rounded-xl" />
    </div>
    <div class="flex space-x-6 py-4 h-full pr-4 justify-center align-center">
        @foreach (KeyValuePair<string, string> link in navLinks)
        {
            <a class="text-white" href="@link.Value">@link.Key</a>
        }
    </div>
</div>

@code {
    private string searchTerm;
    private Dictionary<string, string> navLinks = new Dictionary<string, string>()
    {
        { "News", "/news" },
        { "Profile", "/profile" },
        { "Sign out", "/signout" },
    };
}
